body {
	max-width: 800px;
	font-size: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;

}

.inner {
  height: 200px;
  width: 50%;
  display: inline-block;
  font-size: 0;
  max-width: 800px;
  border: 1px solid black;
}

.bottom {
	height: 300px;
	width: 33.33%;
	display: inline-block;
	font-size: 0;
	max-width: 800px;
	border: 1px solid black;
}

.green {
   background-color: green;
}

.blue {
  background-color: blue;
}

.gray{
  background-color: gray;
}

.black {
  background-color: black;
}

.orange {
  background-color: orange;
}




